development:
  database: "KvX9xp4M8NActV2rwaeUuvdnVs_yhhMI"
  redis: "Nuyw0JXpLvO2GQ9z9W4jxpcTFx8bJu5e"
  serviceSecret: "replace-with-a-random-service-secret"
  emailSecretHashPepper: "replace-with-a-random-email-pepper"
  jwtHmacSha512PrivateKey: "replace-with-a-random-jwt-private-key"
  jwtRefreshTokenHashPepper: "replace-with-a-random-refresh-token-pepper"
  geminiApiKey: ""
  proxyHost: ""
  proxyPort: ""
  proxyUser: ""
  proxyPass: ""
  testUserEmail: "test@example.com"
  testUserPassword: "test1234"

test:
  database: "xJdH_RXOcLksV8dvHjYO-QkOw5DBNP5d"
  redis: "mqgYBYbgeadwExA0p0yoGvEt3PG5jxXG"
  serviceSecret: "replace-with-a-random-test-service-secret"
  emailSecretHashPepper: "replace-with-a-random-test-email-pepper"
  jwtHmacSha512PrivateKey: "replace-with-a-random-test-jwt-private-key"
  jwtRefreshTokenHashPepper: "replace-with-a-random-test-refresh-token-pepper"
  geminiApiKey: ""
  proxyHost: ""
  proxyPort: ""
  proxyUser: ""
  proxyPass: ""
  testUserEmail: "test@example.com"
  testUserPassword: "test1234"
